@font-face {
  font-family: ocr;
  src: url("assets/OCRAStd.otf");
}

:root {
    font-family: ocr;
    font-style: normal;
    font-weight: 400;
    color-scheme: light dark;
    color: rgb(61, 250, 77);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
}

body {
  pointer-events: none; /* disables clicks, hovers, etc */
}

a {
  color: rgb(61, 250, 77);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-image:url("assets/desk.jpg");
  background-color: #283622;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    font-size: 1.6em;
    line-height: 1.5;
}

h2 {
    font-size: 1.4em;
    margin:0;
    padding-top:4px;
    line-height: 1.2em;
}

p {
    margin:0;
    padding:0;
    line-height: 1.4em; 
}

.selected {
    display: block;
}

.hidden {
    display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

textarea {
    height: 150px;
    resize: none;
}
input, textarea {
    font-family: ocr;
    font-size: 1.2em;
    border: 1px solid rgb(61, 250, 77);
    background-color: #1b2019;
    color: rgb(61, 250, 77);
    padding:5px 0 5px 5px;
    width: 75%;
    box-sizing: border-box;
    margin: 5px 5px 15px 5px;
    outline: 4px solid #1b2019;
}

input::placeholder, textarea::placeholder {
    font-size: 0.8em;
}

.input-focus,input:focus,textarea:focus {
    border: 1px solid rgb(61, 250, 77);
    outline: 4px solid rgb(61, 250, 77);
}

.form-button {
    text-align:left;
    font-family: ocr;
    font-style: normal;
    color-scheme: light dark;
    color: rgb(61, 250, 77);
    border: none;
    font-size: 1.1em;
    padding:0;
    background-color: #1b2019;
    width: 100%;    
}

.button-focus {        
    color: black;
    background-color: rgb(61, 250, 77);
}

.submit-dark {
    color:#283622;
}

.button-focus-dark {
    color:#283622;
    background-color: #242424;
}

/*------------ Project CSS -----------------*/

.screen-container {
    margin: 30px 300px;
    overflow:hidden;
}

.screen-top {
    display:flex;
    place-items: center;
    height: 50px;
    background-image: linear-gradient(to bottom,#AA9261, #D0BF9E);
    border-radius: 20px 20px 0 0;
    
}

.view-area {
    display:flex;
    justify-content: space-between;
    background-color: #1b2019;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 150px;
    width:100%;
}

.screen-left {
    min-width:50px;
    background-color: #D0BF9E;  
    height: calc(100vh - 210px);
    flex-grow: 0;   
}

.screen-right {
    min-width:50px;
    background-color: #D0BF9E;    
    height: calc(100vh - 210px);
    flex-grow: 0;
}

.screen-bottom {
    height: 100px;
    background-image: linear-gradient(to top,#AA9261, #D0BF9E);
    border-radius: 0 0 20px 20px;
}

.control-container {
    display:flex;
    justify-content: space-between
}

.control-box {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(61, 250, 77);
    min-height: 50px;
    margin-bottom: 25px;
    color: black;
    padding: 0 20px;
}

.control-box div {
    text-align:center;
    margin-right:20px;
}

.control-box div:last-child {
    margin-right:0px;
}

.control-right {
    justify-content: right;
}

:focus {
    border:none;
    outline: none;
}

.focussed h2  {
    color: black;
    background-color: rgb(61, 250, 77);
}



.current-page {
    text-align:right;
    margin-bottom: 10px;
}

.skills-wrapper p:first-child {
    margin-top: 10px;
}
.skills-wrapper p:last-child {
    margin-bottom: 5px;
}

.profile-links h2 {
    display:flex;
    align-items: center;
    padding: 4px 5px;

}

.profile-links img {
    width: 50px;
    margin-right: 20px;
}

.link-text {
    margin-top:4px;
}

.project-image-thumb {
    width: 50px;
    height: 50px;
    margin-right:20px;
    object-fit: cover;
}

.project-image {
    width: 300px;
    height: 200px;
    margin-bottom:10px;
    object-fit: cover;
}
.project-image-container
 {
    display: flex;
    flex-shrink: 0;
    padding: 10px;
    margin-bottom: 10px;
}
.project-image-container img {
    width: 300px;
    height:200px;
    object-fit: cover;
    margin-right:25px;
}

.project-overview {
    display: flex;
    flex-direction: column;
    flex: 1;   
    overflow: hidden;
}

.details-container {
    margin: 10px 0;
}
.form-info {
    margin: -13px 4px 10px;
    display:block
}

.submit-dark {
    color:#283622;
}

.button-focus-dark {

}





