@font-face {
  font-family: ocr;
  src: url("assets/OCRAStd.otf");
}

:root {
    font-family: ocr;
    font-style: normal;
    font-weight: 400;
    color-scheme: light dark;
    color: rgb(61, 250, 77);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
}

body {
  pointer-events: none; /* disables clicks, hovers, etc */
}


a {
  color: rgb(61, 250, 77);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-image:url("assets/desk.jpg");
  background-color: #283622;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  line-height: 1.5;
}

h2 {
    margin:0 4px;
    padding-top:4px;
    line-height: 1.2em;
}


/*------------ Project CSS -----------------*/

.screen-container {
    margin: 30px 200px;
}

.screen-top {
    height: 50px;
    background-image: linear-gradient(to bottom,#AA9261, #D0BF9E);
    border-radius: 20px 20px 0 0;
    
}

.view-area {
    display:flex;
    justify-content: space-between;
    background-color: #1b2019;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 100px;
    width:100%;
}

.screen-left {
    width:50px;
    background-color: #D0BF9E;  
    height: calc(100vh - 210px);
    flex-grow: 0;   
}

.screen-right {
    width:50px;
    background-color: #D0BF9E;    
    height: calc(100vh - 210px);
    flex-grow: 0;
}

.screen-bottom {
    height: 100px;
    background-image: linear-gradient(to top,#AA9261, #D0BF9E);
    border-radius: 0 0 20px 20px;
}

.control-box {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(61, 250, 77);
    min-height: 50px;
    margin-bottom: 50px;
    color: black;
    padding: 0 20px;
}

.control-box div {
    text-align:center;
    margin-right:20px;
}

:focus {
    border:none;
    outline: none;
}

:focus h2 {
    color: black;
    background-color: rgb(61, 250, 77);
}
